.header{
display: flex;
background-color: gainsboro;
height: 50px;
align-items: center;
}
.fontlogo{

        
   padding-left: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
}

.headersearch{
    margin-left: 100px ;
    display: flex;
    background-color: gainsboro;
    height: 50px;
    align-items: center;
    }
.headersearch{
        width: 650px;
        background-color: white;
        height: 40px;
        border-radius: 8px;
}

    .location{
        width:250px;
        height: 40px;
        border: none;
        outline: none;
        padding: 10px;
        margin-right: 0;
        
    }

    .restaurant{
        display: flex;
        align-self: flex-end;
        width:270px;
        margin-left: 50px;
        border: none;
        height: 40px;
        outline: none;
        padding: 10px;
        
    }

    .line-break{
        margin-top: 1;
        border-right: 2px dashed lightslategray;
    }

    .restaurant:hover{
        box-sizing: border-box;
    }

    
    .frontheader{
        background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
        height: 450px;
      width: 100%;
      margin: 0px;
    }
    .cc{
        height: 60px;
        width: 100px;
        background-color: brown;
    }
    .fontzomato{
       font-size: 100px;
       font-weight: bolder;
       
 
    }
    .bb{
        text-align: center;
        color: white;
    }
    .kk{
        text-align: center;
        color: white;
    }
    .fontdiscover{
        font-size:40px ;
    }
    .restint{
        height: 35px;
    }
    
