.header{
display: flex;
background-color: gainsboro;
height: 50px;
align-items: center;
}
.navstyle{
   
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.fontlogo{

        
   padding-left: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
}

.headersearch{
    margin-left: 100px ;
    display: flex;
    background-color: gainsboro;
    height: 50px;
    align-items: center;
    }
.headersearch{
        width: 650px;
        background-color: white;
        height: 40px;
        border-radius: 8px;
}

    .location{
        width:250px;
        height: 40px;
        border: none;
        outline: none;
        padding: 10px;
        margin-right: 0;
        
    }

    .restaurant{
        display: flex;
        align-self: flex-end;
        width:270px;
        margin-left: 50px;
        border: none;
        height: 40px;
        outline: none;
        padding: 10px;
        
    }

    .line-break{
        margin-top: 1;
        border-right: 2px dashed lightslategray;
    }

    .restaurant:hover{
        box-sizing: border-box;
    }

    
    .frontheader{
        background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
        height: 450px;
      width: 100%;
      margin: 0px;
    }
    .cc{
        height: 60px;
        width: 100px;
       
    }
    .fontzomato{
       font-size: 100px;
       font-weight: bolder;
       
 
    }
    .bb{
        text-align: center;
        color: white;
    }
    .kk{
        text-align: center;
        color: white;
    }
    .fontdiscover{
        font-size:40px ;
    }
    .restint{
        height: 35px;
    }
    .cardstart{
        height: 320px;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
    }
    .collection{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }
    .lowercard{
        height:70px;
        width: 300px;
    }
    .cardbar{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }
    .icon{
        width: 35px;
        height: 3px;
      background-color:black;
        margin: 6px 0;
      }
      .appname{
      position:absolute;
      top:8px;
      right:16px;
      font-family:"Helvetica",sans-serif;
      font-weight:bold;
      font-style:italic;
      font-size:40px;
      color:black;
      }
      .image{
      
      width:300px;
      }
      .image img{
      width:100%;
      }
      
      .details h1{
        font-size:40px;
        margin-top:0;
      }
      
      .input{
        display:flex;
      height:45px;
      margin:20px 0px;
      }
      .input-body{
        height:100%;
      }
      .input-body select{
      height:100%;
      }
      .input-body input{
         height:100%;
      width:100%;
      width:280px;
      max-width:300px;
      margin-right:7px;
      border:1px solid #ccc;
      border-radius:5px;
      padding:5px;
      font-size:18px;
      }
      .button{
        color:white;
        background-color:rgb(239,79,95);
        width:150px;
        border:none;
        font-size:17px;
        border-radius:5px;
      }
      .radio-btn{
        margin:5px 0;
        font-size:18px;
      }
      .app-download{
        display:flex;
      }
      .app-download img{
         width:100%;
         max-width:120px;
         margin-right:10px;
      }
      .main{
      display:flex;
      margin:auto;
      width:700px;
      align-items:center;
      }
      .first img{
       width:128px;
      height:32px;
      }
      .sec-7{
      padding:40px 120px;
      background-color:rgb(244,244,253);
      }
      .first{
      display:flex;
      justify-content:space-between;
      }
      .first-1{
      display:flex;
      }
      .first-1 span{
        padding:10px;
        border:1px solid black;
        border-radius:5px;
        margin-right:20px;
        font-weight:400;
      }
      .second{
         display:flex;
         justify-content:space-around;
         margin:30px 0;
      }
      .second div{
         width:200px;
      }
      .second h4{
         font-weight:lighter;
         color:rgb(22,22,22);
         white-space:nowrap;
      }
      .second a{
          display:inline-block;
          width:200px;
          margin-bottom:7px;
          white-space:nowrap;
          text-decoration:none;
          color:gray;
          font-size:0.9rem;
      }
      .second img{
           width:137px;
           height:40px;
           margin-top:11px;
           cursor:pointer;
           }
      .box-4{
           display:flex;
           flex-direction:column;
      }
      .box-4 i{
           margin-left:5px;
           margin-bottom:5px;
      }
      .third{
           padding:10px 0;
           color:gray;
           font-size:0.9rem;
      }
     .bar{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     }
     body{
      background-color:rgb(244, 244, 244);
      }
      
            